<h2>About Riley</h2>
<p>Riley is an IT Professional, a Web Programmer, and a Theatrical Electrician.  </p>

<h2>Skills and Certifications</h2>
<ul>
  <li>Cisco Certified Entry Network Technician (Verification Avaliable Upon Request)</li>
  <li>SonicWALL and Baracuda Networks</li>
  <li>Windows Server Administration</li>
  <li>General Linux System Administration</li>
  <li>Theatrical Lighting Setup and Teardown</li>
  <li>Ruby on Rails, PHP, HTML, and CSS</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/rowdychildren">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://blog.rileychilds.me">Blog</a>
    <li class="main-list-item">
    <span class="fa fa-twitter main-list-item-icon"></span>
    <a href="http://blog.rileychilds.me">@RowdyChildren</a>
  </li>
</ul>
